@require 'mixins.styl'
@require 'poke_pos.styl'
@require 'pokesprite.css'

*
  box-sizing: border-box

body
  background: #ebebeb
  font-family: 'Fira Mono', Helvetica, Arial, sans-serif
  padding: 0
  margin: 0
  color: #333

h1
  font-size: 24px

.container
  width: 1001px
  margin: 0 auto

.pokemon-location
  position: fixed
  top: 0 
  left: 0 
  right: 0
  bottom: 0
  background: rgba(0, 0, 0, 0.8)
  z-index: 99

  .location-content
    position: absolute
    top: 80px
    left: 50%
    width: 500px
    margin-left: -250px
    background: white
    border-radius: 5px
    overflow: hidden

    .location-header
      text-align: center
      padding: 5px
      border-bottom: 1px solid #ebebeb
      background: #336633
      color: white

    .location-body
      padding: 8px  

    .location-table
      width: 100%

      [class*='pokemon-']
        text-align: center
        color: white

      .pokemon-x td:first-child
        background: #005C95

      .pokemon-y td:first-child
        background: #D12242
      
      .pokemon-or td:first-child
        background: #DA1A21
      
      .pokemon-as td:first-child
        background: #00A2D9

.pokemon-list
  list-style: none
  margin: 0
  border-left: 1px solid #ccc
  border-top: 1px solid #ccc
  padding: 0
  clearfix()

  .poke-list-item
    height: 100px
    width: 100px
    float: left
    border-bottom: 1px solid #ccc
    border-right: 1px solid #ccc
    position: relative
    cursor: pointer
    -webkit-user-select: none
    user-select: none

    &:hover, &.is-selected
      background-color: #ebebeb

      .caught
        display: block

    &.is-selected
      .caught
        -webkit-filter: none
        filter: none

    &.is-selected
      background-color: inherit

    .num
      color: #999
      display: block
      position: absolute
      top: 3px
      left: 3px
      font-size: 12px
      text-align: center

    .caught
      background: url(/client/images/ball.png) no-repeat 0 0
      width: 16px
      height: 16px
      position: absolute
      top: 5px
      right: 5px
      -webkit-filter: grayscale(100%)
      filter: grayscale(100%)
      display: none
      z-index: 10
  
    .name 
      position: absolute
      bottom: 5px
      left: 0
      right: 0
      text-align: center
      font-size: 11px
    
    .pkspr
      left: 50%
      top: 25px
      margin-left: -20px