pokePos(x, y)
  > i
    background-position: "-%spx -%spx" % (x y)

[class*='pkmn-'] > i
  transform: scale(2)

// Pokemon
.pkmn-bulbasaur
  pokePos(x: 0, y: 0)
.pkmn-ivysaur
  pokePos(x: 80, y: 0)
.pkmn-venusaur
  pokePos(x: 160, y: 0)
.pkmn-charmander
  pokePos(x: 320, y: 0)
.pkmn-charmeleon
  pokePos(x: 400, y: 0)
.pkmn-charizard
  pokePos(x: 480, y: 0)
.pkmn-squirtle
  pokePos(x: 720, y: 0)
.pkmn-wartortle
  pokePos(x: 800, y: 0)
.pkmn-blastoise
  pokePos(x: 880, y: 0)
.pkmn-caterpie
  pokePos(x: 1040, y: 0)
.pkmn-metapod
  pokePos(x: 1120, y: 0)
.pkmn-butterfree
  pokePos(x: 1200, y: 0)
.pkmn-weedle
  pokePos(x: 0, y: 30)
.pkmn-kakuna
  pokePos(x: 80, y: 30)
.pkmn-beedrill
  pokePos(x: 160, y: 30)
.pkmn-pidgey
  pokePos(x: 320, y: 30)
.pkmn-pidgeotto
  pokePos(x: 400, y: 30)
.pkmn-pidgeot
  pokePos(x: 480, y: 30)
.pkmn-rattata
  pokePos(x: 640, y: 30)
.pkmn-raticate
  pokePos(x: 720, y: 30)
.pkmn-spearow
  pokePos(x: 800, y: 30)
.pkmn-fearow
  pokePos(x: 880, y: 30)
.pkmn-ekans
  pokePos(x: 960, y: 30)
.pkmn-arbok
  pokePos(x: 1040, y: 30)
.pkmn-pikachu
  pokePos(x: 1120, y: 30)
.pkmn-raichu
  pokePos(x: 560, y: 60)
.pkmn-sandshrew
  pokePos(x: 640, y: 60)
.pkmn-sandslash
  pokePos(x: 720, y: 60)
.pkmn-nidoran-f
  pokePos(x: 800, y: 60)
.pkmn-nidorina
  pokePos(x: 880, y: 60)
.pkmn-nidoqueen
  pokePos(x: 960, y: 60)
.pkmn-nidoran-m
  pokePos(x: 1040, y: 60)
.pkmn-nidorino
  pokePos(x: 1120, y: 60)
.pkmn-nidoking
  pokePos(x: 1200, y: 60)
.pkmn-clefairy
  pokePos(x: 0, y: 90)
.pkmn-clefable
  pokePos(x: 160, y: 90)
.pkmn-vulpix
  pokePos(x: 320, y: 90)
.pkmn-ninetales
  pokePos(x: 400, y: 90)
.pkmn-jigglypuff
  pokePos(x: 480, y: 90)
.pkmn-wigglytuff
  pokePos(x: 640, y: 90)
.pkmn-zubat
  pokePos(x: 800, y: 90)
.pkmn-golbat
  pokePos(x: 880, y: 90)
.pkmn-oddish
  pokePos(x: 960, y: 90)
.pkmn-gloom
  pokePos(x: 1040, y: 90)
.pkmn-vileplume
  pokePos(x: 1120, y: 90)
.pkmn-paras
  pokePos(x: 1200, y: 90)
.pkmn-parasect
  pokePos(x: 0, y: 120)
.pkmn-venonat
  pokePos(x: 80, y: 120)
.pkmn-venomoth
  pokePos(x: 160, y: 120)
.pkmn-diglett
  pokePos(x: 240, y: 120)
.pkmn-dugtrio
  pokePos(x: 320, y: 120)
.pkmn-meowth
  pokePos(x: 400, y: 120)
.pkmn-persian
  pokePos(x: 480, y: 120)
.pkmn-psyduck
  pokePos(x: 560, y: 120)
.pkmn-golduck
  pokePos(x: 640, y: 120)
.pkmn-mankey
  pokePos(x: 720, y: 120)
.pkmn-primeape
  pokePos(x: 800, y: 120)
.pkmn-growlithe
  pokePos(x: 880, y: 120)
.pkmn-arcanine
  pokePos(x: 960, y: 120)
.pkmn-poliwag
  pokePos(x: 1040, y: 120)
.pkmn-poliwhirl
  pokePos(x: 1120, y: 120)
.pkmn-poliwrath
  pokePos(x: 0, y: 150)
.pkmn-abra
  pokePos(x: 160, y: 150)
.pkmn-kadabra
  pokePos(x: 240, y: 150)
.pkmn-alakazam
  pokePos(x: 320, y: 150)
.pkmn-machop
  pokePos(x: 480, y: 150)
.pkmn-machoke
  pokePos(x: 560, y: 150)
.pkmn-machamp
  pokePos(x: 640, y: 150)
.pkmn-bellsprout
  pokePos(x: 720, y: 150)
.pkmn-weepinbell
  pokePos(x: 800, y: 150)
.pkmn-victreebel
  pokePos(x: 880, y: 150)
.pkmn-tentacool
  pokePos(x: 960, y: 150)
.pkmn-tentacruel
  pokePos(x: 1040, y: 150)
.pkmn-geodude
  pokePos(x: 1120, y: 150)
.pkmn-graveler
  pokePos(x: 1200, y: 150)
.pkmn-golem
  pokePos(x: 0, y: 180)
.pkmn-ponyta
  pokePos(x: 80, y: 180)
.pkmn-rapidash
  pokePos(x: 160, y: 180)
.pkmn-slowpoke
  pokePos(x: 240, y: 180)
.pkmn-slowbro
  pokePos(x: 320, y: 180)
.pkmn-magnemite
  pokePos(x: 480, y: 180)
.pkmn-magneton
  pokePos(x: 560, y: 180)
.pkmn-farfetchd
  pokePos(x: 640, y: 180)
.pkmn-doduo
  pokePos(x: 720, y: 180)
.pkmn-dodrio
  pokePos(x: 800, y: 180)
.pkmn-seel
  pokePos(x: 880, y: 180)
.pkmn-dewgong
  pokePos(x: 960, y: 180)
.pkmn-grimer
  pokePos(x: 1040, y: 180)
.pkmn-muk
  pokePos(x: 1120, y: 180)
.pkmn-shellder
  pokePos(x: 1200, y: 180)
.pkmn-cloyster
  pokePos(x: 0, y: 210)
.pkmn-gastly
  pokePos(x: 80, y: 210)
.pkmn-haunter
  pokePos(x: 160, y: 210)
.pkmn-gengar
  pokePos(x: 240, y: 210)
.pkmn-onix
  pokePos(x: 400, y: 210)
.pkmn-drowzee
  pokePos(x: 480, y: 210)
.pkmn-hypno
  pokePos(x: 560, y: 210)
.pkmn-krabby
  pokePos(x: 640, y: 210)
.pkmn-kingler
  pokePos(x: 720, y: 210)
.pkmn-voltorb
  pokePos(x: 880, y: 210)
.pkmn-electrode
  pokePos(x: 960, y: 210)
.pkmn-exeggcute
  pokePos(x: 1040, y: 210)
.pkmn-exeggutor
  pokePos(x: 1120, y: 210)
.pkmn-cubone
  pokePos(x: 1200, y: 210)
.pkmn-marowak
  pokePos(x: 0, y: 240)
.pkmn-hitmonlee
  pokePos(x: 80, y: 240)
.pkmn-hitmonchan
  pokePos(x: 160, y: 240)
.pkmn-lickitung
  pokePos(x: 240, y: 240)
.pkmn-koffing
  pokePos(x: 320, y: 240)
.pkmn-weezing
  pokePos(x: 400, y: 240)
.pkmn-rhyhorn
  pokePos(x: 480, y: 240)
.pkmn-rhydon
  pokePos(x: 560, y: 240)
.pkmn-chansey
  pokePos(x: 640, y: 240)
.pkmn-tangela
  pokePos(x: 720, y: 240)
.pkmn-kangaskhan
  pokePos(x: 800, y: 240)
.pkmn-horsea
  pokePos(x: 960, y: 240)
.pkmn-seadra
  pokePos(x: 1040, y: 240)
.pkmn-goldeen
  pokePos(x: 1120, y: 240)
.pkmn-seaking
  pokePos(x: 1200, y: 240)
.pkmn-staryu
  pokePos(x: 0, y: 270)
.pkmn-starmie
  pokePos(x: 80, y: 270)
.pkmn-mr-mime
  pokePos(x: 160, y: 270)
.pkmn-scyther
  pokePos(x: 240, y: 270)
.pkmn-jynx
  pokePos(x: 320, y: 270)
.pkmn-electabuzz
  pokePos(x: 400, y: 270)
.pkmn-magmar
  pokePos(x: 480, y: 270)
.pkmn-pinsir
  pokePos(x: 560, y: 270)
.pkmn-tauros
  pokePos(x: 720, y: 270)
.pkmn-magikarp
  pokePos(x: 800, y: 270)
.pkmn-gyarados
  pokePos(x: 880, y: 270)
.pkmn-lapras
  pokePos(x: 1040, y: 270)
.pkmn-ditto
  pokePos(x: 1120, y: 270)
.pkmn-eevee
  pokePos(x: 1200, y: 270)
.pkmn-vaporeon
  pokePos(x: 0, y: 300)
.pkmn-jolteon
  pokePos(x: 80, y: 300)
.pkmn-flareon
  pokePos(x: 160, y: 300)
.pkmn-porygon
  pokePos(x: 240, y: 300)
.pkmn-omanyte
  pokePos(x: 320, y: 300)
.pkmn-omastar
  pokePos(x: 400, y: 300)
.pkmn-kabuto
  pokePos(x: 480, y: 300)
.pkmn-kabutops
  pokePos(x: 560, y: 300)
.pkmn-aerodactyl
  pokePos(x: 640, y: 300)
.pkmn-snorlax
  pokePos(x: 800, y: 300)
.pkmn-articuno
  pokePos(x: 880, y: 300)
.pkmn-zapdos
  pokePos(x: 960, y: 300)
.pkmn-moltres
  pokePos(x: 1040, y: 300)
.pkmn-dratini
  pokePos(x: 1120, y: 300)
.pkmn-dragonair
  pokePos(x: 1200, y: 300)
.pkmn-dragonite
  pokePos(x: 0, y: 330)
.pkmn-mewtwo
  pokePos(x: 80, y: 330)
.pkmn-mew
  pokePos(x: 320, y: 330)
.pkmn-chikorita
  pokePos(x: 400, y: 330)
.pkmn-bayleef
  pokePos(x: 480, y: 330)
.pkmn-meganium
  pokePos(x: 560, y: 330)
.pkmn-cyndaquil
  pokePos(x: 640, y: 330)
.pkmn-quilava
  pokePos(x: 720, y: 330)
.pkmn-typhlosion
  pokePos(x: 800, y: 330)
.pkmn-totodile
  pokePos(x: 880, y: 330)
.pkmn-croconaw
  pokePos(x: 960, y: 330)
.pkmn-feraligatr
  pokePos(x: 1120, y: 330)
.pkmn-sentret
  pokePos(x: 1200, y: 330)
.pkmn-furret
  pokePos(x: 0, y: 360)
.pkmn-hoothoot
  pokePos(x: 80, y: 360)
.pkmn-noctowl
  pokePos(x: 160, y: 360)
.pkmn-ledyba
  pokePos(x: 240, y: 360)
.pkmn-ledian
  pokePos(x: 320, y: 360)
.pkmn-spinarak
  pokePos(x: 400, y: 360)
.pkmn-ariados
  pokePos(x: 480, y: 360)
.pkmn-crobat
  pokePos(x: 560, y: 360)
.pkmn-chinchou
  pokePos(x: 640, y: 360)
.pkmn-lanturn
  pokePos(x: 720, y: 360)
.pkmn-pichu
  pokePos(x: 800, y: 360)
.pkmn-cleffa
  pokePos(x: 880, y: 360)
.pkmn-igglybuff
  pokePos(x: 1040, y: 360)
.pkmn-togepi
  pokePos(x: 1200, y: 360)
.pkmn-togetic
  pokePos(x: 0, y: 390)
.pkmn-natu
  pokePos(x: 80, y: 390)
.pkmn-xatu
  pokePos(x: 160, y: 390)
.pkmn-mareep
  pokePos(x: 240, y: 390)
.pkmn-flaaffy
  pokePos(x: 320, y: 390)
.pkmn-ampharos
  pokePos(x: 400, y: 390)
.pkmn-bellossom
  pokePos(x: 560, y: 390)
.pkmn-marill
  pokePos(x: 640, y: 390)
.pkmn-azumarill
  pokePos(x: 720, y: 390)
.pkmn-sudowoodo
  pokePos(x: 800, y: 390)
.pkmn-politoed
  pokePos(x: 880, y: 390)
.pkmn-hoppip
  pokePos(x: 1040, y: 390)
.pkmn-skiploom
  pokePos(x: 1120, y: 390)
.pkmn-jumpluff
  pokePos(x: 1200, y: 390)
.pkmn-aipom
  pokePos(x: 0, y: 420)
.pkmn-sunkern
  pokePos(x: 80, y: 420)
.pkmn-sunflora
  pokePos(x: 160, y: 420)
.pkmn-yanma
  pokePos(x: 240, y: 420)
.pkmn-wooper
  pokePos(x: 320, y: 420)
.pkmn-quagsire
  pokePos(x: 400, y: 420)
.pkmn-espeon
  pokePos(x: 480, y: 420)
.pkmn-umbreon
  pokePos(x: 560, y: 420)
.pkmn-murkrow
  pokePos(x: 640, y: 420)
.pkmn-slowking
  pokePos(x: 720, y: 420)
.pkmn-misdreavus
  pokePos(x: 800, y: 420)
.pkmn-unown
  pokePos(x: 880, y: 420)
.pkmn-wobbuffet
  pokePos(x: 880, y: 510)
.pkmn-girafarig
  pokePos(x: 960, y: 510)
.pkmn-pineco
  pokePos(x: 1040, y: 510)
.pkmn-forretress
  pokePos(x: 1120, y: 510)
.pkmn-dunsparce
  pokePos(x: 1200, y: 510)
.pkmn-gligar
  pokePos(x: 0, y: 540)
.pkmn-steelix
  pokePos(x: 80, y: 540)
.pkmn-snubbull
  pokePos(x: 240, y: 540)
.pkmn-granbull
  pokePos(x: 320, y: 540)
.pkmn-qwilfish
  pokePos(x: 400, y: 540)
.pkmn-scizor
  pokePos(x: 480, y: 540)
.pkmn-shuckle
  pokePos(x: 640, y: 540)
.pkmn-heracross
  pokePos(x: 720, y: 540)
.pkmn-sneasel
  pokePos(x: 880, y: 540)
.pkmn-teddiursa
  pokePos(x: 1040, y: 540)
.pkmn-ursaring
  pokePos(x: 1200, y: 540)
.pkmn-slugma
  pokePos(x: 0, y: 570)
.pkmn-magcargo
  pokePos(x: 80, y: 570)
.pkmn-swinub
  pokePos(x: 160, y: 570)
.pkmn-piloswine
  pokePos(x: 240, y: 570)
.pkmn-corsola
  pokePos(x: 320, y: 570)
.pkmn-remoraid
  pokePos(x: 400, y: 570)
.pkmn-octillery
  pokePos(x: 480, y: 570)
.pkmn-delibird
  pokePos(x: 560, y: 570)
.pkmn-mantine
  pokePos(x: 640, y: 570)
.pkmn-skarmory
  pokePos(x: 720, y: 570)
.pkmn-houndour
  pokePos(x: 800, y: 570)
.pkmn-houndoom
  pokePos(x: 880, y: 570)
.pkmn-kingdra
  pokePos(x: 1040, y: 570)
.pkmn-phanpy
  pokePos(x: 1120, y: 570)
.pkmn-donphan
  pokePos(x: 1200, y: 570)
.pkmn-porygon2
  pokePos(x: 0, y: 600)
.pkmn-stantler
  pokePos(x: 80, y: 600)
.pkmn-smeargle
  pokePos(x: 160, y: 600)
.pkmn-tyrogue
  pokePos(x: 240, y: 600)
.pkmn-hitmontop
  pokePos(x: 320, y: 600)
.pkmn-smoochum
  pokePos(x: 400, y: 600)
.pkmn-elekid
  pokePos(x: 480, y: 600)
.pkmn-magby
  pokePos(x: 560, y: 600)
.pkmn-miltank
  pokePos(x: 640, y: 600)
.pkmn-blissey
  pokePos(x: 720, y: 600)
.pkmn-raikou
  pokePos(x: 800, y: 600)
.pkmn-entei
  pokePos(x: 880, y: 600)
.pkmn-suicune
  pokePos(x: 960, y: 600)
.pkmn-larvitar
  pokePos(x: 1040, y: 600)
.pkmn-pupitar
  pokePos(x: 1120, y: 600)
.pkmn-tyranitar
  pokePos(x: 1200, y: 600)
.pkmn-lugia
  pokePos(x: 80, y: 630)
.pkmn-ho-oh
  pokePos(x: 160, y: 630)
.pkmn-celebi
  pokePos(x: 240, y: 630)
.pkmn-treecko
  pokePos(x: 320, y: 630)
.pkmn-grovyle
  pokePos(x: 400, y: 630)
.pkmn-sceptile
  pokePos(x: 480, y: 630)
.pkmn-torchic
  pokePos(x: 640, y: 630)
.pkmn-combusken
  pokePos(x: 720, y: 630)
.pkmn-blaziken
  pokePos(x: 800, y: 630)
.pkmn-mudkip
  pokePos(x: 960, y: 630)
.pkmn-marshtomp
  pokePos(x: 1040, y: 630)
.pkmn-swampert
  pokePos(x: 1120, y: 630)
.pkmn-poochyena
  pokePos(x: 0, y: 660)
.pkmn-mightyena
  pokePos(x: 80, y: 660)
.pkmn-zigzagoon
  pokePos(x: 160, y: 660)
.pkmn-linoone
  pokePos(x: 240, y: 660)
.pkmn-wurmple
  pokePos(x: 320, y: 660)
.pkmn-silcoon
  pokePos(x: 400, y: 660)
.pkmn-beautifly
  pokePos(x: 480, y: 660)
.pkmn-cascoon
  pokePos(x: 560, y: 660)
.pkmn-dustox
  pokePos(x: 640, y: 660)
.pkmn-lotad
  pokePos(x: 720, y: 660)
.pkmn-lombre
  pokePos(x: 800, y: 660)
.pkmn-ludicolo
  pokePos(x: 880, y: 660)
.pkmn-seedot
  pokePos(x: 960, y: 660)
.pkmn-nuzleaf
  pokePos(x: 1040, y: 660)
.pkmn-shiftry
  pokePos(x: 1120, y: 660)
.pkmn-taillow
  pokePos(x: 1200, y: 660)
.pkmn-swellow
  pokePos(x: 0, y: 690)
.pkmn-wingull
  pokePos(x: 80, y: 690)
.pkmn-pelipper
  pokePos(x: 160, y: 690)
.pkmn-ralts
  pokePos(x: 240, y: 690)
.pkmn-kirlia
  pokePos(x: 320, y: 690)
.pkmn-gard.evoir
  pokePos(x: 400, y: 690)
.pkmn-surskit
  pokePos(x: 560, y: 690)
.pkmn-masquerain
  pokePos(x: 640, y: 690)
.pkmn-shroomish
  pokePos(x: 720, y: 690)
.pkmn-breloom
  pokePos(x: 800, y: 690)
.pkmn-slakoth
  pokePos(x: 880, y: 690)
.pkmn-vigoroth
  pokePos(x: 960, y: 690)
.pkmn-slaking
  pokePos(x: 1040, y: 690)
.pkmn-nincada
  pokePos(x: 1120, y: 690)
.pkmn-ninjask
  pokePos(x: 1200, y: 690)
.pkmn-shedinja
  pokePos(x: 0, y: 720)
.pkmn-whismur
  pokePos(x: 80, y: 720)
.pkmn-loudred
  pokePos(x: 160, y: 720)
.pkmn-exploud
  pokePos(x: 240, y: 720)
.pkmn-makuhita
  pokePos(x: 320, y: 720)
.pkmn-hariyama
  pokePos(x: 400, y: 720)
.pkmn-azurill
  pokePos(x: 480, y: 720)
.pkmn-nosepass
  pokePos(x: 560, y: 720)
.pkmn-skitty
  pokePos(x: 640, y: 720)
.pkmn-delcatty
  pokePos(x: 720, y: 720)
.pkmn-sableye
  pokePos(x: 800, y: 720)
.pkmn-mawile
  pokePos(x: 960, y: 720)
.pkmn-aron
  pokePos(x: 1120, y: 720)
.pkmn-lairon
  pokePos(x: 1200, y: 720)
.pkmn-aggron
  pokePos(x: 0, y: 750)
.pkmn-meditite
  pokePos(x: 160, y: 750)
.pkmn-medicham
  pokePos(x: 240, y: 750)
.pkmn-electrike
  pokePos(x: 400, y: 750)
.pkmn-manectric
  pokePos(x: 480, y: 750)
.pkmn-plusle
  pokePos(x: 640, y: 750)
.pkmn-minun
  pokePos(x: 720, y: 750)
.pkmn-volbeat
  pokePos(x: 800, y: 750)
.pkmn-illumise
  pokePos(x: 880, y: 750)
.pkmn-roselia
  pokePos(x: 960, y: 750)
.pkmn-gulpin
  pokePos(x: 1120, y: 750)
.pkmn-swalot
  pokePos(x: 1200, y: 750)
.pkmn-carvanha
  pokePos(x: 0, y: 780)
.pkmn-sharpedo
  pokePos(x: 80, y: 780)
.pkmn-wailmer
  pokePos(x: 240, y: 780)
.pkmn-wailord
  pokePos(x: 320, y: 780)
.pkmn-numel
  pokePos(x: 400, y: 780)
.pkmn-camerupt
  pokePos(x: 480, y: 780)
.pkmn-torkoal
  pokePos(x: 640, y: 780)
.pkmn-spoink
  pokePos(x: 720, y: 780)
.pkmn-grumpig
  pokePos(x: 800, y: 780)
.pkmn-spinda
  pokePos(x: 880, y: 780)
.pkmn-trapinch
  pokePos(x: 960, y: 780)
.pkmn-vibrava
  pokePos(x: 1040, y: 780)
.pkmn-flygon
  pokePos(x: 1120, y: 780)
.pkmn-cacnea
  pokePos(x: 1200, y: 780)
.pkmn-cacturne
  pokePos(x: 0, y: 810)
.pkmn-swablu
  pokePos(x: 80, y: 810)
.pkmn-altaria
  pokePos(x: 160, y: 810)
.pkmn-zangoose
  pokePos(x: 320, y: 810)
.pkmn-seviper
  pokePos(x: 480, y: 810)
.pkmn-lunatone
  pokePos(x: 640, y: 810)
.pkmn-solrock
  pokePos(x: 720, y: 810)
.pkmn-barboach
  pokePos(x: 800, y: 810)
.pkmn-whiscash
  pokePos(x: 880, y: 810)
.pkmn-corphish
  pokePos(x: 960, y: 810)
.pkmn-crawdaunt
  pokePos(x: 1040, y: 810)
.pkmn-baltoy
  pokePos(x: 1120, y: 810)
.pkmn-claydol
  pokePos(x: 1200, y: 810)
.pkmn-lileep
  pokePos(x: 0, y: 840)
.pkmn-cradily
  pokePos(x: 80, y: 840)
.pkmn-anorith
  pokePos(x: 160, y: 840)
.pkmn-armaldo
  pokePos(x: 240, y: 840)
.pkmn-feebas
  pokePos(x: 320, y: 840)
.pkmn-milotic
  pokePos(x: 400, y: 840)
.pkmn-castform
  pokePos(x: 480, y: 840)
.pkmn-kecleon
  pokePos(x: 880, y: 840)
.pkmn-shuppet
  pokePos(x: 960, y: 840)
.pkmn-banette
  pokePos(x: 1040, y: 840)
.pkmn-duskull
  pokePos(x: 1200, y: 840)
.pkmn-dusclops
  pokePos(x: 0, y: 870)
.pkmn-tropius
  pokePos(x: 80, y: 870)
.pkmn-chimecho
  pokePos(x: 160, y: 870)
.pkmn-absol
  pokePos(x: 240, y: 870)
.pkmn-wynaut
  pokePos(x: 560, y: 870)
.pkmn-snorunt
  pokePos(x: 640, y: 870)
.pkmn-glalie
  pokePos(x: 720, y: 870)
.pkmn-spheal
  pokePos(x: 880, y: 870)
.pkmn-sealeo
  pokePos(x: 960, y: 870)
.pkmn-walrein
  pokePos(x: 1040, y: 870)
.pkmn-clamperl
  pokePos(x: 1120, y: 870)
.pkmn-huntail
  pokePos(x: 1200, y: 870)
.pkmn-gorebyss
  pokePos(x: 0, y: 900)
.pkmn-relicanth
  pokePos(x: 80, y: 900)
.pkmn-luvdisc
  pokePos(x: 160, y: 900)
.pkmn-bagon
  pokePos(x: 240, y: 900)
.pkmn-shelgon
  pokePos(x: 320, y: 900)
.pkmn-salamence
  pokePos(x: 400, y: 900)
.pkmn-beldum
  pokePos(x: 560, y: 900)
.pkmn-metang
  pokePos(x: 640, y: 900)
.pkmn-metagross
  pokePos(x: 720, y: 900)
.pkmn-regirock
  pokePos(x: 880, y: 900)
.pkmn-regice
  pokePos(x: 1040, y: 900)
.pkmn-registeel
  pokePos(x: 1120, y: 900)
.pkmn-latias
  pokePos(x: 1200, y: 900)
.pkmn-latios
  pokePos(x: 80, y: 930)
.pkmn-kyogre
  pokePos(x: 240, y: 930)
.pkmn-groudon
  pokePos(x: 400, y: 930)
.pkmn-rayquaza
  pokePos(x: 560, y: 930)
.pkmn-jirachi
  pokePos(x: 720, y: 930)
.pkmn-deoxys
  pokePos(x: 800, y: 930)
.pkmn-turtwig
  pokePos(x: 1120, y: 930)
.pkmn-grotle
  pokePos(x: 1200, y: 930)
.pkmn-torterra
  pokePos(x: 0, y: 960)
.pkmn-chimchar
  pokePos(x: 160, y: 960)
.pkmn-monferno
  pokePos(x: 240, y: 960)
.pkmn-infernape
  pokePos(x: 320, y: 960)
.pkmn-piplup
  pokePos(x: 400, y: 960)
.pkmn-prinplup
  pokePos(x: 480, y: 960)
.pkmn-empoleon
  pokePos(x: 560, y: 960)
.pkmn-starly
  pokePos(x: 640, y: 960)
.pkmn-staravia
  pokePos(x: 720, y: 960)
.pkmn-staraptor
  pokePos(x: 800, y: 960)
.pkmn-bidoof
  pokePos(x: 880, y: 960)
.pkmn-bibarel
  pokePos(x: 960, y: 960)
.pkmn-kricketot
  pokePos(x: 1040, y: 960)
.pkmn-kricketune
  pokePos(x: 1120, y: 960)
.pkmn-shinx
  pokePos(x: 1200, y: 960)
.pkmn-luxio
  pokePos(x: 0, y: 990)
.pkmn-luxray
  pokePos(x: 80, y: 990)
.pkmn-budew
  pokePos(x: 160, y: 990)
.pkmn-roserade
  pokePos(x: 320, y: 990)
.pkmn-cranidos
  pokePos(x: 480, y: 990)
.pkmn-rampardos
  pokePos(x: 560, y: 990)
.pkmn-shieldon
  pokePos(x: 640, y: 990)
.pkmn-bastiodon
  pokePos(x: 720, y: 990)
.pkmn-burmy
  pokePos(x: 800, y: 990)
.pkmn-wormadam
  pokePos(x: 1040, y: 990)
.pkmn-mothim
  pokePos(x: 0, y: 1020)
.pkmn-combee
  pokePos(x: 80, y: 1020)
.pkmn-vespiquen
  pokePos(x: 160, y: 1020)
.pkmn-pachirisu
  pokePos(x: 240, y: 1020)
.pkmn-buizel
  pokePos(x: 320, y: 1020)
.pkmn-floatzel
  pokePos(x: 400, y: 1020)
.pkmn-cherubi
  pokePos(x: 480, y: 1020)
.pkmn-cherrim
  pokePos(x: 560, y: 1020)
.pkmn-shellos
  pokePos(x: 720, y: 1020)
.pkmn-gastrodon
  pokePos(x: 880, y: 1020)
.pkmn-ambipom
  pokePos(x: 1040, y: 1020)
.pkmn-drifloon
  pokePos(x: 1120, y: 1020)
.pkmn-drifblim
  pokePos(x: 1200, y: 1020)
.pkmn-buneary
  pokePos(x: 0, y: 1050)
.pkmn-lopunny
  pokePos(x: 80, y: 1050)
.pkmn-mismagius
  pokePos(x: 240, y: 1050)
.pkmn-honchkrow
  pokePos(x: 320, y: 1050)
.pkmn-glameow
  pokePos(x: 400, y: 1050)
.pkmn-purugly
  pokePos(x: 480, y: 1050)
.pkmn-chingling
  pokePos(x: 560, y: 1050)
.pkmn-stunky
  pokePos(x: 640, y: 1050)
.pkmn-skuntank
  pokePos(x: 720, y: 1050)
.pkmn-bronzor
  pokePos(x: 800, y: 1050)
.pkmn-bronzong
  pokePos(x: 880, y: 1050)
.pkmn-bonsly
  pokePos(x: 960, y: 1050)
.pkmn-mime-jr
  pokePos(x: 1040, y: 1050)
.pkmn-happiny
  pokePos(x: 1120, y: 1050)
.pkmn-chatot
  pokePos(x: 1200, y: 1050)
.pkmn-spiritomb
  pokePos(x: 0, y: 1080)
.pkmn-gible
  pokePos(x: 80, y: 1080)
.pkmn-gabite
  pokePos(x: 160, y: 1080)
.pkmn-garchomp
  pokePos(x: 240, y: 1080)
.pkmn-munchlax
  pokePos(x: 400, y: 1080)
.pkmn-riolu
  pokePos(x: 480, y: 1080)
.pkmn-lucario
  pokePos(x: 560, y: 1080)
.pkmn-hippopotas
  pokePos(x: 720, y: 1080)
.pkmn-hippowdon
  pokePos(x: 800, y: 1080)
.pkmn-skorupi
  pokePos(x: 880, y: 1080)
.pkmn-drapion
  pokePos(x: 960, y: 1080)
.pkmn-croagunk
  pokePos(x: 1040, y: 1080)
.pkmn-toxicroak
  pokePos(x: 1120, y: 1080)
.pkmn-carnivine
  pokePos(x: 1200, y: 1080)
.pkmn-finneon
  pokePos(x: 0, y: 1110)
.pkmn-lumineon
  pokePos(x: 80, y: 1110)
.pkmn-mantyke
  pokePos(x: 160, y: 1110)
.pkmn-snover
  pokePos(x: 240, y: 1110)
.pkmn-abomasnow
  pokePos(x: 320, y: 1110)
.pkmn-weavile
  pokePos(x: 480, y: 1110)
.pkmn-magnezone
  pokePos(x: 560, y: 1110)
.pkmn-lickilicky
  pokePos(x: 640, y: 1110)
.pkmn-rhyperior
  pokePos(x: 720, y: 1110)
.pkmn-tangrowth
  pokePos(x: 800, y: 1110)
.pkmn-electivire
  pokePos(x: 880, y: 1110)
.pkmn-magmortar
  pokePos(x: 960, y: 1110)
.pkmn-togekiss
  pokePos(x: 1120, y: 1110)
.pkmn-yanmega
  pokePos(x: 0, y: 1140)
.pkmn-leafeon
  pokePos(x: 80, y: 1140)
.pkmn-glaceon
  pokePos(x: 160, y: 1140)
.pkmn-gliscor
  pokePos(x: 240, y: 1140)
.pkmn-mamoswine
  pokePos(x: 320, y: 1140)
.pkmn-porygon-z
  pokePos(x: 400, y: 1140)
.pkmn-gallade
  pokePos(x: 480, y: 1140)
.pkmn-probopass
  pokePos(x: 640, y: 1140)
.pkmn-dusknoir
  pokePos(x: 720, y: 1140)
.pkmn-froslass
  pokePos(x: 800, y: 1140)
.pkmn-rotom
  pokePos(x: 880, y: 1140)
.pkmn-uxie
  pokePos(x: 160, y: 1170)
.pkmn-mesprit
  pokePos(x: 240, y: 1170)
.pkmn-azelf
  pokePos(x: 320, y: 1170)
.pkmn-dialga
  pokePos(x: 400, y: 1170)
.pkmn-palkia
  pokePos(x: 480, y: 1170)
.pkmn-heatran
  pokePos(x: 560, y: 1170)
.pkmn-regigigas
  pokePos(x: 640, y: 1170)
.pkmn-giratina
  pokePos(x: 720, y: 1170)
.pkmn-cresselia
  pokePos(x: 880, y: 1170)
.pkmn-phione
  pokePos(x: 960, y: 1170)
.pkmn-manaphy
  pokePos(x: 1040, y: 1170)
.pkmn-darkrai
  pokePos(x: 1120, y: 1170)
.pkmn-shaymin
  pokePos(x: 1200, y: 1170)
.pkmn-arceus
  pokePos(x: 160, y: 1200)
.pkmn-victini
  pokePos(x: 240, y: 1200)
.pkmn-snivy
  pokePos(x: 320, y: 1200)
.pkmn-servine
  pokePos(x: 400, y: 1200)
.pkmn-serperior
  pokePos(x: 480, y: 1200)
.pkmn-tepig
  pokePos(x: 560, y: 1200)
.pkmn-pignite
  pokePos(x: 640, y: 1200)
.pkmn-emboar
  pokePos(x: 720, y: 1200)
.pkmn-oshawott
  pokePos(x: 880, y: 1200)
.pkmn-dewott
  pokePos(x: 960, y: 1200)
.pkmn-samurott
  pokePos(x: 1040, y: 1200)
.pkmn-patrat
  pokePos(x: 1120, y: 1200)
.pkmn-watchog
  pokePos(x: 1200, y: 1200)
.pkmn-lillipup
  pokePos(x: 0, y: 1230)
.pkmn-herdier
  pokePos(x: 80, y: 1230)
.pkmn-stoutland
  pokePos(x: 160, y: 1230)
.pkmn-purrloin
  pokePos(x: 240, y: 1230)
.pkmn-liepard
  pokePos(x: 320, y: 1230)
.pkmn-pansage
  pokePos(x: 400, y: 1230)
.pkmn-simisage
  pokePos(x: 480, y: 1230)
.pkmn-pansear
  pokePos(x: 560, y: 1230)
.pkmn-simisear
  pokePos(x: 720, y: 1230)
.pkmn-panpour
  pokePos(x: 880, y: 1230)
.pkmn-simipour
  pokePos(x: 960, y: 1230)
.pkmn-munna
  pokePos(x: 1040, y: 1230)
.pkmn-musharna
  pokePos(x: 1120, y: 1230)
.pkmn-pidove
  pokePos(x: 1200, y: 1230)
.pkmn-tranquill
  pokePos(x: 0, y: 1260)
.pkmn-unfezant
  pokePos(x: 80, y: 1260)
.pkmn-blitzle
  pokePos(x: 240, y: 1260)
.pkmn-zebstrika
  pokePos(x: 320, y: 1260)
.pkmn-roggenrola
  pokePos(x: 400, y: 1260)
.pkmn-boldore
  pokePos(x: 480, y: 1260)
.pkmn-gigalith
  pokePos(x: 560, y: 1260)
.pkmn-woobat
  pokePos(x: 640, y: 1260)
.pkmn-swoobat
  pokePos(x: 720, y: 1260)
.pkmn-drilbur
  pokePos(x: 800, y: 1260)
.pkmn-excadrill
  pokePos(x: 960, y: 1260)
.pkmn-audino
  pokePos(x: 1120, y: 1260)
.pkmn-timburr
  pokePos(x: 0, y: 1290)
.pkmn-gurdurr
  pokePos(x: 80, y: 1290)
.pkmn-conkeldurr
  pokePos(x: 160, y: 1290)
.pkmn-tympole
  pokePos(x: 240, y: 1290)
.pkmn-palpitoad
  pokePos(x: 320, y: 1290)
.pkmn-seismitoad
  pokePos(x: 400, y: 1290)
.pkmn-throh
  pokePos(x: 480, y: 1290)
.pkmn-sawk
  pokePos(x: 560, y: 1290)
.pkmn-sewaddle
  pokePos(x: 720, y: 1290)
.pkmn-swadloon
  pokePos(x: 800, y: 1290)
.pkmn-leavanny
  pokePos(x: 880, y: 1290)
.pkmn-venipede
  pokePos(x: 960, y: 1290)
.pkmn-whirlipede
  pokePos(x: 1040, y: 1290)
.pkmn-scolipede
  pokePos(x: 1120, y: 1290)
.pkmn-cottonee
  pokePos(x: 1200, y: 1290)
.pkmn-whimsicott
  pokePos(x: 0, y: 1320)
.pkmn-petilil
  pokePos(x: 80, y: 1320)
.pkmn-lilligant
  pokePos(x: 160, y: 1320)
.pkmn-basculin
  pokePos(x: 320, y: 1320)
.pkmn-sandile
  pokePos(x: 480, y: 1320)
.pkmn-krokorok
  pokePos(x: 560, y: 1320)
.pkmn-krookodile
  pokePos(x: 640, y: 1320)
.pkmn-darumaka
  pokePos(x: 720, y: 1320)
.pkmn-darmanitan
  pokePos(x: 800, y: 1320)
.pkmn-maractus
  pokePos(x: 960, y: 1320)
.pkmn-dwebble
  pokePos(x: 1040, y: 1320)
.pkmn-crustle
  pokePos(x: 1120, y: 1320)
.pkmn-scraggy
  pokePos(x: 1200, y: 1320)
.pkmn-scrafty
  pokePos(x: 0, y: 1350)
.pkmn-sigilyph
  pokePos(x: 80, y: 1350)
.pkmn-yamask
  pokePos(x: 160, y: 1350)
.pkmn-cofagrigus
  pokePos(x: 240, y: 1350)
.pkmn-tirtouga
  pokePos(x: 320, y: 1350)
.pkmn-carracosta
  pokePos(x: 400, y: 1350)
.pkmn-archen
  pokePos(x: 480, y: 1350)
.pkmn-archeops
  pokePos(x: 560, y: 1350)
.pkmn-trubbish
  pokePos(x: 640, y: 1350)
.pkmn-garbodor
  pokePos(x: 720, y: 1350)
.pkmn-zorua
  pokePos(x: 880, y: 1350)
.pkmn-zoroark
  pokePos(x: 960, y: 1350)
.pkmn-minccino
  pokePos(x: 1040, y: 1350)
.pkmn-cinccino
  pokePos(x: 1120, y: 1350)
.pkmn-gothita
  pokePos(x: 1200, y: 1350)
.pkmn-gothorita
  pokePos(x: 0, y: 1380)
.pkmn-gothitelle
  pokePos(x: 80, y: 1380)
.pkmn-solosis
  pokePos(x: 160, y: 1380)
.pkmn-duosion
  pokePos(x: 320, y: 1380)
.pkmn-reuniclus
  pokePos(x: 400, y: 1380)
.pkmn-ducklett
  pokePos(x: 480, y: 1380)
.pkmn-swanna
  pokePos(x: 560, y: 1380)
.pkmn-vanillite
  pokePos(x: 640, y: 1380)
.pkmn-vanillish
  pokePos(x: 720, y: 1380)
.pkmn-vanilluxe
  pokePos(x: 800, y: 1380)
.pkmn-deerling
  pokePos(x: 960, y: 1380)
.pkmn-sawsbuck
  pokePos(x: 0, y: 1410)
.pkmn-emolga
  pokePos(x: 320, y: 1410)
.pkmn-karrablast
  pokePos(x: 400, y: 1410)
.pkmn-escavalier
  pokePos(x: 480, y: 1410)
.pkmn-foongus
  pokePos(x: 560, y: 1410)
.pkmn-amoonguss
  pokePos(x: 640, y: 1410)
.pkmn-frillish
  pokePos(x: 800, y: 1410)
.pkmn-jellicent
  pokePos(x: 960, y: 1410)
.pkmn-alomomola
  pokePos(x: 1120, y: 1410)
.pkmn-joltik
  pokePos(x: 1200, y: 1410)
.pkmn-galvantula
  pokePos(x: 0, y: 1440)
.pkmn-ferroseed
  pokePos(x: 80, y: 1440)
.pkmn-ferrothorn
  pokePos(x: 160, y: 1440)
.pkmn-klink
  pokePos(x: 240, y: 1440)
.pkmn-klang
  pokePos(x: 400, y: 1440)
.pkmn-klinklang
  pokePos(x: 560, y: 1440)
.pkmn-tynamo
  pokePos(x: 720, y: 1440)
.pkmn-eelektrik
  pokePos(x: 800, y: 1440)
.pkmn-eelektross
  pokePos(x: 880, y: 1440)
.pkmn-elgyem
  pokePos(x: 960, y: 1440)
.pkmn-beheeyem
  pokePos(x: 1040, y: 1440)
.pkmn-litwick
  pokePos(x: 1120, y: 1440)
.pkmn-lampent
  pokePos(x: 0, y: 1470)
.pkmn-chandelure
  pokePos(x: 80, y: 1470)
.pkmn-axew
  pokePos(x: 160, y: 1470)
.pkmn-fraxure
  pokePos(x: 240, y: 1470)
.pkmn-haxorus
  pokePos(x: 320, y: 1470)
.pkmn-cubchoo
  pokePos(x: 400, y: 1470)
.pkmn-beartic
  pokePos(x: 480, y: 1470)
.pkmn-cryogonal
  pokePos(x: 560, y: 1470)
.pkmn-shelmet
  pokePos(x: 640, y: 1470)
.pkmn-accelgor
  pokePos(x: 720, y: 1470)
.pkmn-stunfisk
  pokePos(x: 800, y: 1470)
.pkmn-mienfoo
  pokePos(x: 880, y: 1470)
.pkmn-mienshao
  pokePos(x: 960, y: 1470)
.pkmn-druddigon
  pokePos(x: 1040, y: 1470)
.pkmn-golett
  pokePos(x: 1120, y: 1470)
.pkmn-golurk
  pokePos(x: 0, y: 1500)
.pkmn-pawniard
  pokePos(x: 160, y: 1500)
.pkmn-bisharp
  pokePos(x: 240, y: 1500)
.pkmn-bouffalant
  pokePos(x: 320, y: 1500)
.pkmn-rufflet
  pokePos(x: 400, y: 1500)
.pkmn-braviary
  pokePos(x: 480, y: 1500)
.pkmn-vullaby
  pokePos(x: 560, y: 1500)
.pkmn-mandibuzz
  pokePos(x: 640, y: 1500)
.pkmn-heatmor
  pokePos(x: 720, y: 1500)
.pkmn-durant
  pokePos(x: 800, y: 1500)
.pkmn-deino
  pokePos(x: 880, y: 1500)
.pkmn-zweilous
  pokePos(x: 960, y: 1500)
.pkmn-hydreigon
  pokePos(x: 1040, y: 1500)
.pkmn-larvesta
  pokePos(x: 1120, y: 1500)
.pkmn-volcarona
  pokePos(x: 1200, y: 1500)
.pkmn-cobalion
  pokePos(x: 0, y: 1530)
.pkmn-terrakion
  pokePos(x: 80, y: 1530)
.pkmn-virizion
  pokePos(x: 160, y: 1530)
.pkmn-tornadus
  pokePos(x: 240, y: 1530)
.pkmn-thundurus
  pokePos(x: 400, y: 1530)
.pkmn-reshiram
  pokePos(x: 560, y: 1530)
.pkmn-zekrom
  pokePos(x: 640, y: 1530)
.pkmn-landorus
  pokePos(x: 720, y: 1530)
.pkmn-kyurem
  pokePos(x: 880, y: 1530)
.pkmn-keldeo
  pokePos(x: 80, y: 1560)
.pkmn-meloetta
  pokePos(x: 320, y: 1560)
.pkmn-genesect
  pokePos(x: 560, y: 1560)
.pkmn-chespin
  pokePos(x: 640, y: 1560)
.pkmn-quilladin
  pokePos(x: 720, y: 1560)
.pkmn-chesnaught
  pokePos(x: 800, y: 1560)
.pkmn-fennekin
  pokePos(x: 880, y: 1560)
.pkmn-braixen
  pokePos(x: 960, y: 1560)
.pkmn-delphox
  pokePos(x: 1040, y: 1560)
.pkmn-froakie
  pokePos(x: 1120, y: 1560)
.pkmn-frogadier
  pokePos(x: 1200, y: 1560)
.pkmn-greninja
  pokePos(x: 0, y: 1590)
.pkmn-bunnelby
  pokePos(x: 160, y: 1590)
.pkmn-diggersby
  pokePos(x: 240, y: 1590)
.pkmn-fletchling
  pokePos(x: 320, y: 1590)
.pkmn-fletchinder
  pokePos(x: 400, y: 1590)
.pkmn-talonflame
  pokePos(x: 480, y: 1590)
.pkmn-scatterbug
  pokePos(x: 560, y: 1590)
.pkmn-spewpa
  pokePos(x: 640, y: 1590)
.pkmn-vivillon
  pokePos(x: 720, y: 1590)
.pkmn-litleo
  pokePos(x: 1040, y: 1620)
.pkmn-pyroar
  pokePos(x: 1120, y: 1620)
.pkmn-flabebe
  pokePos(x: 0, y: 1650)
.pkmn-floette
  pokePos(x: 400, y: 1650)
.pkmn-florges
  pokePos(x: 880, y: 1650)
.pkmn-skiddo
  pokePos(x: 0, y: 1680)
.pkmn-gogoat
  pokePos(x: 80, y: 1680)
.pkmn-pancham
  pokePos(x: 160, y: 1680)
.pkmn-pangoro
  pokePos(x: 240, y: 1680)
.pkmn-furfrou
  pokePos(x: 320, y: 1680)
.pkmn-espurr
  pokePos(x: 1200, y: 1680)
.pkmn-meowstic
  pokePos(x: 0, y: 1710)
.pkmn-honedge
  pokePos(x: 160, y: 1710)
.pkmn-doublade
  pokePos(x: 240, y: 1710)
.pkmn-aegislash
  pokePos(x: 320, y: 1710)
.pkmn-spritzee
  pokePos(x: 480, y: 1710)
.pkmn-aromatisse
  pokePos(x: 560, y: 1710)
.pkmn-swirlix
  pokePos(x: 640, y: 1710)
.pkmn-slurpuff
  pokePos(x: 720, y: 1710)
.pkmn-inkay
  pokePos(x: 800, y: 1710)
.pkmn-malamar
  pokePos(x: 880, y: 1710)
.pkmn-binacle
  pokePos(x: 960, y: 1710)
.pkmn-barbaracle
  pokePos(x: 1040, y: 1710)
.pkmn-skrelp
  pokePos(x: 1200, y: 1710)
.pkmn-dragalge
  pokePos(x: 0, y: 1740)
.pkmn-clauncher
  pokePos(x: 80, y: 1740)
.pkmn-clawitzer
  pokePos(x: 240, y: 1740)
.pkmn-helioptile
  pokePos(x: 400, y: 1740)
.pkmn-heliolisk
  pokePos(x: 480, y: 1740)
.pkmn-tyrunt
  pokePos(x: 560, y: 1740)
.pkmn-tyrantrum
  pokePos(x: 640, y: 1740)
.pkmn-amaura
  pokePos(x: 720, y: 1740)
.pkmn-aurorus
  pokePos(x: 800, y: 1740)
.pkmn-sylveon
  pokePos(x: 880, y: 1740)
.pkmn-hawlucha
  pokePos(x: 1040, y: 1740)
.pkmn-dedenne
  pokePos(x: 1120, y: 1740)
.pkmn-carbink
  pokePos(x: 1200, y: 1740)
.pkmn-goomy
  pokePos(x: 0, y: 1770)
.pkmn-sliggoo
  pokePos(x: 80, y: 1770)
.pkmn-goodra
  pokePos(x: 160, y: 1770)
.pkmn-klefki
  pokePos(x: 240, y: 1770)
.pkmn-phantump
  pokePos(x: 400, y: 1770)
.pkmn-trevenant
  pokePos(x: 480, y: 1770)
.pkmn-pumpkaboo
  pokePos(x: 560, y: 1770)
.pkmn-gourgeist
  pokePos(x: 640, y: 1770)
.pkmn-bergmite
  pokePos(x: 720, y: 1770)
.pkmn-avalugg
  pokePos(x: 800, y: 1770)
.pkmn-noibat
  pokePos(x: 880, y: 1770)
.pkmn-noivern
  pokePos(x: 960, y: 1770)
.pkmn-xerneas
  pokePos(x: 1040, y: 1770)
.pkmn-yveltal
  pokePos(x: 1200, y: 1770)
.pkmn-zygarde
  pokePos(x: 0, y: 1800)
.pkmn-diancie
  pokePos(x: 160, y: 1800)
.pkmn-hoopa
  pokePos(x: 320, y: 1800)
.pkmn-volcanion
  pokePos(x: 480, y: 1800)

// Evolution items
.evo-item-dawn-stone
  pokePos(x: 720, y: 1890)
.evo-item-deep-sea-scale
  pokePos(x: 750, y: 1890)
.evo-item-deep-sea-tooth
  pokePos(x: 780, y: 1890)
.evo-item-dragon-scale
  pokePos(x: 810, y: 1890)
.evo-item-dubious-disc
  pokePos(x: 840, y: 1890)
.evo-item-dusk-stone
  pokePos(x: 870, y: 1890)
.evo-item-electirizer
  pokePos(x: 900, y: 1890)
.evo-item-fire-stone
  pokePos(x: 930, y: 1890)
.evo-item-kings-rock
  pokePos(x: 960, y: 1890)
.evo-item-leaf-stone
  pokePos(x: 990, y: 1890)
.evo-item-magmarizer
  pokePos(x: 1020, y: 1890)
.evo-item-metal-coat
  pokePos(x: 1050, y: 1890)
.evo-item-moon-stone
  pokePos(x: 1080, y: 1890)
.evo-item-oval-stone
  pokePos(x: 1110, y: 1890)
.evo-item-prism-scale
  pokePos(x: 1140, y: 1890)
.evo-item-protector
  pokePos(x: 1170, y: 1890)
.evo-item-razor-claw
  pokePos(x: 1200, y: 1890)
.evo-item-razor-fang
  pokePos(x: 1230, y: 1890)
.evo-item-reaper-cloth
  pokePos(x: 0, y: 1920)
.evo-item-sachet
  pokePos(x: 30, y: 1920)
.evo-item-shiny-stone
  pokePos(x: 60, y: 1920)
.evo-item-sun-stone
  pokePos(x: 90, y: 1920)
.evo-item-thunder-stone
  pokePos(x: 120, y: 1920)
.evo-item-up-grade
  pokePos(x: 150, y: 1920)
.evo-item-water-stone
  pokePos(x: 180, y: 1920)
.evo-item-whipped-dream
  pokePos(x: 210, y: 1920)